{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="page-title">
	    <div class="large-wrapper">
	        <h1>Контакты</h1>
	    </div>
	</div>

	<div class="large-wrapper">
		<div class="resuarants clr">
			<div class="col">
				<div class="content">
					<div class="rest-head">
						<h2>Ресторан «Окинава» на ул. Михайловская, 1</h2>
					</div>
	                <div class="rest-contacts">
	                    <div class="cont-item phone">
	                        <a href="+78112600601">8 (8112) 600-601</a>
	                        <a href="+79118896060">8-911-889-60-60</a>
	                    </div>
	                    <div class="cont-item time">
	                        <span>Заказ столиков:</span>
	                        <a href="tel:+78112600601">8 (8112) 600-601</a>
	                    </div>
	                    <div class="cont-item time">
	                        <span>Ежедневно:</span>
	                        <span>11:00 - 23:00, пт-сб: до 1:00</span>
	                    </div>
	                </div>
					<!-- <div class="big-photo">
						<a href="images/rest1.jpg">
							<img src="images/rest1.jpg" alt="Окинава">
						</a>
					</div> -->
				</div>
			</div>
			<div class="col">
				<div class="content">
					<div class="rest-head">
						<h2>Ресторан «Окинава» на ул. Льва Толстого, 3</h2>
					</div>
	                <div class="rest-contacts">
	                    <div class="cont-item phone">
	                        <a href="tel:+79118996060">8-911-899-60-60</a>
	                        <a href="tel:+78112201060">8 (8112) 20-10-60</a>
	                    </div>
	                    <div class="cont-item time">
	                        <span>Заказ столиков:</span>
	                        <a href="tel:+79118996060">8-911-899-60-60</a>
	                    </div>
	                    <div class="cont-item time">
	                        <span>Ежедневно:</span>
	                        <span> 10:00 - 23:00 </span>
	                    </div>
	                </div>
					<!-- <div class="big-photo">
						<a href="images/rest1.jpg">
							<img src="images/rest1.jpg" alt="Окинава">
						</a>
					</div> -->
				</div>
			</div>
		</div>
	</div>

	<div class="map" id="map"></div>

	<script type="text/javascript">
		ymaps.ready(function () {
		var myMap = new ymaps.Map('map', {
				center: [57.8139,28.3489],
				zoom: 17,
				controls: []
			}),
			myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
				hintContent: 'Окинава',
				balloonContent: 'Окинава'
			}, {
				iconLayout: 'default#image',
				iconImageHref: 'img/location-pin.png',
				iconImageSize: [64, 64],
				iconImageOffset: [-3, -42]
			}),
			zoomControl;
			zoomControl = new ymaps.control.ZoomControl({
				options:{
					position:{top: 50, right: 10}
				}
			});
			myMap.behaviors.disable('scrollZoom');
			myMap.geoObjects.add(myPlacemark);
			myMap.controls.add(zoomControl);
		});
	</script>
{% endblock %}
