{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="page-title">
	    <div class="large-wrapper">
	        <h1>Доставка</h1>
	    </div>
	</div>

	<div class="delivery">
	    <div class="large-wrapper">
	        <div class="deliv-head">
	            <p class="intro">
	                Не хочется выбираться из дома,<br>или неожиданно нагрянули гости?
	            </p>
	            <p class="text">
	                Просто выберите понравившееся блюдо и закажите!
	            </p>
	        </div>
	        <div class="deliv-order">
	            <a href="{% url 'catalog:catalog' %}">Заказать</a>
	        </div>
	        <div class="deliv-phones">
	            <span>Телефоны доставки:</span>
	            <a href="tel:+78112600601">8 (8112) 600-601</a>
	            <a href="tel:+79118996060">8-911-899-60-60</a>
	        </div>
	    </div>
	    <img src="{% static 'images/sakura1.png' %}" alt="Доставка" class="left-sakura">
	    <img src="{% static 'images/sakura2.png' %}" alt="Доставка" class="right-sakura">
	</div>

	<div class="advantages">
	    <div class="large-wrapper">
	        <div class="advs-list clr">
	            <div class="item">
	                <div class="item-content">
	                    <img src="{% static 'images/plate.png' %}" alt="Только свежая еда" style="padding-top:40px;">
	                    <div class="adv-text">Только свежая еда</div>
	                </div>
	            </div>
	            <div class="item">
	                <div class="item-content">
	                    <img src="{% static 'images/money.png' %}" alt="Минимальный заказ от 500 рублей">
	                    <div class="adv-text">Минимальный заказ от <br> 500 рублей</div>
	                </div>
	            </div>
	            <div class="item">
	                <div class="item-content">
	                    <img src="{% static 'images/cards.png' %}" alt="Любые способы оплаты" style="padding-top:40px;">
	                    <div class="adv-text">Любые способы оплаты</div>
	                </div>
	            </div>
	            <div class="item">
	                <div class="item-content">
	                    <img src="{% static 'images/free-delivery.png' %}" alt="Бесплатная доставка">
	                    <div class="adv-text">Бесплатная доставка</div>
	                </div>
	            </div>
	            <div class="item">
	                <div class="item-content">
	                    <img src="{% static 'images/clock.png' %}" alt="Своевременная доставка">
	                    <div class="adv-text">Своевременная доставка</div>
	                </div>
	            </div>
	            <div class="item">
	                <div class="item-content">
	                    <img src="{% static 'images/bonuses.png' %}" alt="Постоянные бонусы">
	                    <div class="adv-text">Постоянные бонусы</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}
