{% load staticfiles %}

<footer>
    <div class="large-wrapper clr">
        <p class="greeting">Ждем вас в нашем кафе Окинава в Пскове!</p>
        <div class="ftr-col-contacts">
            <div class="indents clr">
                <ul class="ftr-contacts">
                    <li class="address">г. Псков, ул. Михайловская, 1</li>
                    <li class="phone">
                        <a href="tel:+78112600601">8 (8112) 600-601</a>
                        <a href="tel:+79118896060">8-911-889-60-60</a>
                    </li>
                    <li class="time">Ежедневно: <br> 11:00 - 23:00, пт-сб: до 1:00 </li>
                    <li class="sticks">Заказ столиков: <a href="tel:+78112600601">8 (8112) 600-601</a> </li>
                </ul>
                <ul class="ftr-contacts">
                    <li class="address">ул. Льва Толстого, 3</li>
                    <li class="phone">
                        <a href="tel:+79118996060">8-911-899-60-60</a>
                        <a href="tel:+78112201060">8 (8112) 20-10-60</a>
                    </li>
                    <li class="time">Ежедневно: <br> 10:00 - 23:00 </li>
                    <li class="sticks">Заказ столиков: <a href="tel:+79118996060">8-911-899-60-60</a> </li>
                </ul>
            </div>
            <div class="ftr-soc">
                <span>Окинава в социальных сетях:</span>
                <div class="soc-list">
                    <a href="#" target="_blank" title="VK">
                        <img src="{% static 'img/vk.png' %}" alt="vk" title="VK">
                    </a>
                    <!-- <a href="#" target="_blank" title="instagram">
                        <img src="img/insgrm.png" alt="instagram" title="instagram">
                    </a> -->
                </div>
            </div>
        </div>
        <div class="ftr-text">
            <div class="indents">
                <p>У нас вы можете заказать суши, роллы, пиццу и другие блюда с доставкой по городу Псков.</p>
                <p>Для вас - только лучшие блюда, приготовленные нашими поварами из свежих продуктов.</p>
                <p>
                    - При заказе от 500 рублей доставка бесплатно!
                    <br>
                    - При заказе от 800 рублей ролл Калифорния в кунжуте в подарок!
                    <br>
                    - При заказе от 1000 рублей ролл Филадельфия тобико маки в подарок!
                    <br>
                    - При заказе от 1800 рублей ролл Филадельфия чиз маки в подарок!
                </p>
            </div>
        </div>
        <p class="about-ip">ИП Виноградов Александр Валерьевич ОГРН313602703200031</p>
    </div>
</footer>

<div class="order-form mfp-hide" id="order-form">
    <div class="form-content">
        <form action="{% url 'catalog:order_path' %}" method="post">
            {% csrf_token %}
            {{ order_form.order_product }}
            <div class="input-box">
                <span class="title">Ваше имя</span>
                {{ order_form.person_name }}
            </div>
            <div class="input-box">
                <span class="title">Ваш телефон</span>
                {{ order_form.person_phone }}
            </div>
            <div class="input-box">
                <span class="title">Сообщение</span>
                {{ order_form.message }}
            </div>
            <input type="submit" name="make-order">
        </form>
    </div>

</div>

<script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/dropit.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/jquery-ui.effects.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.ba-hashchange.min.js' %}"></script>
<script src="{% static 'js/jquery.easytabs.min.js' %}"></script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="{% static 'js/jquery.matchHeight.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
