<header>
    <div class="large-wrapper clr">
        <a href="/" class="logotype"></a>
        <div class="address-top" style="float: right">
            <div class="address-item">
                <span class="street">Михайловская, 1</span>
                <a href="tel:88112600601" class="phone" title="8 (8112) 600-601">8 (8112) 600-601</a>
            </div>
            <div class="address-item">
                <span class="street">Льва Толстого, 3</span>
                <a href="tel:89118996060" class="phone" title="8-911-899-60-60">8-911-899-60-60</a>
            </div>
        </div>
        <!-- <div class="user-block">
            <a href="auth-popup.html" class="cabinet" title="Личный кабинет"><i class="fa fa-user-circle-o fa-2"></i>Личный кабинет</a>
            <a class="cart" href="cart.html">
                <i class="fa fa-shopping-cart fa-lg"></i>
                <span class="cart-label">Корзина</span>
                <span class="cart-count">10</span>
            </a>
        </div> -->
    </div>
</header>
