{% load staticfiles %}

<div class="top-slider">
    <div class="action-slider owl-carousel">
        <div class="a-slide">
            <img src="{% static 'images/action1.jpg' %}" alt="Акция 1" title="Акция 1" />
        </div>
        <div class="a-slide">
            <img src="{% static 'images/action1.jpg' %}" alt="Акция 1" title="Акция 1" />
        </div>
        <div class="a-slide">
            <img src="{% static 'images/action1.jpg' %}" alt="Акция 1" title="Акция 1" />
        </div>
    </div>
</div>
