{% load staticfiles %}
{% load thumbnail %}
<nav>
    <div class="large-wrapper clr">
        <div class="mob-menu">Меню</div>
        <ul class="nav-menu">
            <li>
                <a href="{% url 'catalog:catalog' %}" title="Меню" class="sub-menu-trigger">Меню</a>
                <ul class="sub-menu-categories clr">
                    {% for Category in full_menu %}
                    <li>
                        <a href="{% url 'catalog:category' pk=Category.pk %}" title="{{Category.ctg_title}}">
                            <img src="{{ Category.ctg_image|thumbnail_url:'preview' }}" alt="{{ Category.ctg_name }}" title="{{ Category.ctg_name }}">
                            <span>{{ Category.ctg_name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <!-- <li><a href="restuarants.html" title="Рестораны">Рестораны</a></li> -->
            <!-- <li><a href="#" title="Акции">Акции</a></li> -->
            <li><a href="{% url 'pages:delivery_page' %}" title="Доставка">Доставка</a></li>
            <!-- <li><a href="news.html" title="Новости">Новости</a></li> -->
            <li><a href="{% url 'pages:contact_page' %}" title="Контакты">Контакты</a></li>
        </ul>
        <!-- <div class="find">
            <form action="#">
                <button type="submit" name="searchButtton"></button>
                <input type="search" name="searchField" placeholder="Поиск...">
            </form>
        </div> -->
    </div>
</nav>
