{% load staticfiles %}

<div class="presents-block">
    <div class="large-wrapper">
        <h2>
            <p class="part1">Стань постоянным гостем </p>
            <p class="part2">и получай подарки! </p>
        </h2>
        <form action="#">
            <div class="became-guest clr">
                <div class="person-data clr">
                    <div class="input-box">
                        <div class="input-content">
                            <input type="text" name="person-name">
                            <span class="placeholder">Ваше имя</span>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input-content">
                            <input type="text" name="person-surname">
                            <span class="placeholder">Ваша фамилия</span>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input-content">
                            <input type="text" name="person-phone">
                            <span class="placeholder">Ваш телефон</span>
                        </div>
                    </div>
                </div>
                <div class="submit-data">
                    <input type="submit" value="Отправить">
                </div>
            </div>
        </form>
    </div>
    <img src="{% static 'images/japanese-home1.png' %}" alt="Стань постоянным гостем и получай подарки!" class="pic-left">
    <img src="{% static 'images/bamboo1.png' %}" alt="Стань постоянным гостем и получай подарки!" class="pic-right">
</div>
