{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Японская кухня Окинава</title>
	    <meta name="description" content="Японская кухня Окинава"/>
	    <meta name="keywords" content="Японская кухня Окинава"/>
	    <!-- Stylesheets -->
	    <link rel="stylesheet" href="{% static 'css/style.css' %}">
         <link rel="stylesheet" href="{% static 'css/others.css' %}">
	    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
	</head>

    <body>
        {% include "blocks/header.html" %}
		{% include "blocks/nav.html" %}


		{% block content %}
		{% endblock %}

		<!-- {% include "blocks/presents.html" %} -->

		{% include "blocks/footer.html" %}
	</body>
</html>
