{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block content %}
    <div class="catalog inner">
        <div class="small-wrapper">
            <h1>Каталог</h1>
            <div class="catalog-list clr">
                {% for Product in ctlgItems %}
                    <div class="item">
                        <div class="item-content">
                            <a class="image-box" href="{% url 'catalog:product' pk=Product.pk %}" title="{{ Product.prod_name }}">
                                <img src="{{ Product.prod_image|thumbnail_url:'preview' }}" alt="{{Product.prod_name}}" title="{{ Product.prod_name }}">
                            </a>
                            <a class="title-item" href="{% url 'catalog:product' pk=Product.pk %}" title="{{ Product.prod_name }}">{{ Product.prod_name }}</a>
                            <span class="item-components">{{ Product.prod_descr|safe }}</span>
                            <div class="bottom-info clr">
                                <div class="left-col">
                                    <div class="prod-weight">{{ Product.prod_weight }} г.</div>
                                    <div class="prod-price">{{ Product.prod_price }} <span>Р.</span></div>
                                </div>
                                <div class="right-col">
                                    <div class="to-cart-control">
                                        <span class="amount-btn plus"></span>
                                        <span class="amount-text">1</span>
                                        <span class="amount-btn minus"></span>
                                        <span class="cart-btn"></span>
                                    </div>
                                </div>
                            </div>
                            {% if Product.prod_ishit > 0 %}
                                <div class="item-tag action"></div>
                            {% endif %}
                            {% if Product.prod_isnovelty > 0 %}
                                <div class="item-tag novelty"></div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="bg-clipart"></div>
            </div>
        </div>
    </div>
{% endblock %}
