{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}


{% block content %}
    <div class="catalog inner">
        <div class="small-wrapper">
            <h1>Меню</h1>
            <div class="catalog-list menu-list clr">
                {% for Category in full_menu %}
                    <div class="item">
                        <div class="item-content">
                            <a class="image-box" href="{% url 'catalog:category' pk=Category.pk %}">
                                <img src="{{ Category.ctg_image|thumbnail_url:'preview' }}" alt="{{ Category.ctg_name }}" title="{{ Category.ctg_name }}">
                            </a>
                            <a class="title-item" href="{% url 'catalog:category' pk=Category.pk %}" title="{{ Category.ctg_name }}">{{ Category.ctg_name }}</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="bg-clipart"></div>
            </div>
        </div>
    </div>
{% endblock %}
