{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block content %}
	<div class="product-detail">
		<div class="large-wrapper">
			<div class="product-header">
				<h1>{{ prodInfo.prod_name }}</h1>
			</div>
			<div class="prod-cols clr">
				<div class="col">
					<div class="content">
						<div class="image-box">
							<div class="product-slider owl-carousel">
								<img src="{{ prodInfo.prod_image|thumbnail_url:'big_preview' }}" alt="{{ prodInfo.prod_name }}" title="{{ prodInfo.prod_name }}">
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="content">
						<p class="subtitle">Описание:</p>
						<span class="item-components">{{ prodInfo.prod_descr|safe }}</span>
						<div class="bottom-info clr">
							<div class="left-col">
								<div class="prod-weight">
									<span class="subtitle">Вес: </span>
									{{ prodInfo.prod_weight }}
								</div>
								<div class="prod-price">
									<span class="subtitle">Цена: </span>
									{{ prodInfo.prod_price }} <span>Р.</span>
								</div>
							</div>
							<div class="right-col">
								<div class="to-cart-control">
									<span class="amount-btn plus"></span>
									<span class="amount-text">1</span>
									<span class="amount-btn minus"></span>
									<span class="cart-btn"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
