 {% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

 {% block content %}
    <div class="product-modal">
        <div class="image-box">
            <img src="images/philadelphia-big.jpg" alt="philadelphia">
        </div>
        <span class="title-item" data-modal>Филадельфия люкс</span>
        <span class="item-components">Рис Японский, лосось филе, сыр сливочный, водоросли Нори.</span>
        <div class="bottom-info clr">
            <div class="left-col">
                <div class="prod-weight">200 гр.</div>
                <div class="prod-price">325 <span>Р.</span></div>
            </div>
            <div class="right-col">
                <div class="to-cart-control">
                    <span class="amount-btn plus"></span>
                    <span class="amount-text">1</span>
                    <span class="amount-btn minus"></span>
                    <span class="cart-btn"></span>
                </div>
            </div>
        </div>
        <a href="product-detail.html" target="_blank" class="gotoDetali">Перейти в карточку товара</a>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
{% endblock %}
